<!DOCTYPE  html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kong Xiong</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>
        <img src="./images/kpx.jpg" alt="kong">

        {{> footer}}
    </body>
</html>