<!DOCTYPE  html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
       <h1>Updating Server</h1>
       <p>
          This site is being updating please come back later.
       </p>
    </body>
</html>