<!DOCTYPE  html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Say something in here please</p>

        {{> footer}}
    </body>
</html>